{% extends 'base.html.twig' %}


{% block main %}
    <div>
  <h3>{{ name }}</h3>


        <form action="#" method="post">
        {% for e in exam %}
            <p>{{ e.question.question }}</p>

                {% for a in answers %}
                    {%  if a.question.id == e.question.id %}
                        <div class="radio">
                            <label><input type="radio" name="question{{ a.question.id}}" value="answer{{ a.id }}">{{ a.answer }}</label>
                        </div>
                    {% endif %}
                {% endfor %}


            <br><br>
        {% endfor %}
            <input type="submit" class="btn btn-primary ">
        </form>

    </div>



{% endblock %}


