{% extends 'base.html.twig' %}


{% block body %}
  <h3>{{ name }}</h3>

    <div class="container">

        {% for e in exam %}
            <p>{{ e.question.question }}</p>

                {% for a in answers %}
                    {%  if a.question.id == e.question.id %}
                        <div class="radio">
                            <label>
                                <input type="radio"
                                        id="answer{{ a.id }}"
                                        name="{{ a.question.id}}"
                                        value="{{ a.id }}"
                                >       {{ a.answer }}
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}


            <br><br>
        {% endfor %}
        <button id="submitButton">Submit</button>


    </div>



{% endblock %}

