{% extends 'base.html.twig' %}

{% block title %} Exams Overview {% endblock %}


{% block main %}
<div class="main" align="center">
    <h3>Exams</h3>

    <br>
    <table class="table table-hover table-sm" width="100%">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Creator</th>
            <th scope="col">Course</th>
            <th scope="col">Username</th>
            <th scope="col">Publish</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">Do</th>
            <th scope="col">View Results</th>
        </tr>

        </thead>
    {% for exam in listData %}
        <tbody>
        <tr>
            <td scope="row">{{ exam.id }}</td>
            <td>{{ exam.name }} </td>
            <td>{{ exam.creator.username }} </td>
            <td>{{ exam.course.name }} </td>
            <td>{{ user.username }} </td>
            <td><a href="/courses/exams/publish/{{ exam.id }}" class="btn btn-primary" role="button">Publish</a></td>
            <td><a href="/courses/exams/edit/{{ exam.id }}" class="btn btn-warning" role="button">Edit</a></td>
            <td><a href="/courses/exams/delete/{{ exam.id }}" class="btn btn-danger" role="button">Delete</a></td>
            <td><a href="/courses/exams/take/{{ exam.id }}" class="btn btn-warning" role="button">Do</a></td>
            <td><a href="/courses/exams/view/{{ exam.id }}" class="btn btn-primary" role="button">View Result</a></td>
        </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}