{% extends 'base.html.twig' %}

{% block title %} Exams Overview {% endblock %}


{% block main %}
<div class="main" align="center">

    {% if user.teacher %}
    <a href="#" role="button" style="float:left; width:20%; margin-top:1%; margin-left:1%; margin-right:-21%;" class="btn btn-success">Create New Exam</a>
    {% endif %}

    <h3>Exams</h3>

    <br>
    <table class="table table-hover table-sm" width="100%">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Creator</th>
            <th scope="col">Course</th>
            <th scope="col">Username</th>
            {% if user.teacher %}
            <th scope="col">Publish</th>
            <th scope="col">Edit</th>
            {% else %}
            <th scope="col"> </th>
            {% endif %}
        </tr>

        </thead>

        <tbody>
    {% for instance in listData %}

        <tr>
            {% if user.teacher %}

            <td scope="row">{{ instance.id }}</td>
            <td>{{ instance.name }} </td>
            <td>{{ instance.creator.username }} </td>
            <td>{{ instance.course.name }} </td>
            <td>{{ user.username }} </td>

            <td><a examId="{{ instance.id }}" href="/courses/exams/students/{{ instance.id }}" class="btn btn-primary" role="button">Publish</a></td>
            <td><a examId="{{ instance.id }}" href="/courses/exams/edit/{{ instance.id }}" class="btn btn-warning" role="button">Edit</a></td>

            {% else %}

            <td scope="row">{{ instance.id }}</td>
            <td>{{ instance.exam.name }} </td>
            <td>{{ instance.exam.creator.username }} </td>
            <td>{{ instance.exam.course.name }} </td>
            <td>{{ user.username }} </td>
            {% if instance.grade  %}
            <td><a examId="{{ instance.id }}" href="/courses/exams/result/{{ instance.id }}" class="btn btn-primary" role="button">View Result</a></td>
            {% else %}
            <td><a examId="{{ instance.id }}" href="/courses/exams/take/{{ instance.id }}" class="btn btn-warning" role="button">Take Exam</a></td>
            {% endif %}
            {% endif %}
        </tr>

    {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}