{% extends 'base.html.twig' %}

{% block title %} Exams Overview {% endblock %}


{% block main %}
<div class="main" align="center">

    {% if user.teacher %}
    <a href="#" role="button" style="float:left; width:20%; margin-top:1%; margin-left:1%; margin-right:-21%;" class="btn btn-success">Create New Exam</a>
    {% endif %}

    <h3>Exams</h3>

    <br>
    <table class="table table-hover table-sm" width="100%">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Creator</th>
            <th scope="col">Course</th>
            <th scope="col">Username</th>
            {% if user.teacher %}
            <th scope="col">Publish</th>
            <th scope="col">Edit</th>
            {% else %}
            <th scope="col">Do</th>
            <th scope="col">View Results</th>
            {% endif %}
        </tr>

        </thead>

        <tbody>
    {% for exam in listData %}

        <tr>
            <td scope="row">{{ exam.id }}</td>
            <td>{{ exam.name }} </td>
            <td>{{ exam.creator.username }} </td>
            <td>{{ exam.course.name }} </td>
            <td>{{ user.username }} </td>
            {% if user.teacher %}
            <td><a examId="{{ exam.id }}" href="/courses/exams/publish/{{ exam.id }}" class="btn btn-primary" role="button">Publish</a></td>
            <td><a examId="{{ exam.id }}" href="/courses/exams/edit/{{ exam.id }}" class="btn btn-warning" role="button">Edit</a></td>
            {% else %}
            <td><a examId="{{ exam.id }}" href="/courses/exams/take/{{ exam.id }}" class="btn btn-warning" role="button">Do</a></td>
            <td><a examId="{{ exam.id }}" href="/courses/exams/view/{{ exam.id }}" class="btn btn-primary" role="button">View Result</a></td>
            {% endif %}
        </tr>

    {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}