{% extends 'base.html.twig' %}


{% block main %}
  <h3>{{ instance.exam.name }}</h3>
        <input hidden disabled id="instanceId" value={{ instance.id }}> </input>

        {% for question in instance.exam.questions %}

            <p>{{ question.question.question }}</p>
                {% for answer in question.question.answers %}
                    <div class="radio">
                        <label><input type="radio" name="{{ answer.question.id}}" id="{{ answer.question.id}}" value="{{ answer.id }}">{{ answer.answer }}</label>
                    </div>

                {% endfor %}

            <br><br>
        {% endfor %}
            <input type="submit" id="submitButton" class="btn btn-primary ">
    </div>

{% endblock %}


