{% extends 'base.html.twig' %}


{% block main %}
  <h3>{{ instance.exam.name }}</h3>

        <form action="#" method="post">
        {% for question in instance.exam.questions %}
            <p>{{ question.question.question }}</p>
                {% for answer in question.question.answers %}
                    <div class="radio">
                        <label><input type="radio" name="question{{ answer.question.id}}" value="answer{{ answer.id }}">{{ answer.answer }}</label>
                    </div>
                {% endfor %}
            <br><br>
        {% endfor %}
            <input type="submit" class="btn btn-primary ">
        </form>
    </div>


{% endblock %}


